In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/temperature.csv')

In [5]:
df.head()

           time  Ha Noi   Vinh  Da Nang  Nha Trang  Ho Chi Minh  Ca Mau
0  00 15-9-2019   25.65  24.79    24.01      25.06        25.48   24.97
1  01 15-9-2019   25.31  24.21    24.02      24.93        25.16   24.83
2  02 15-9-2019   25.05  23.73    23.89      24.79        24.80   24.55
3  03 15-9-2019   24.79  23.36    23.83      24.84        24.74   24.48
4  04 15-9-2019   24.59  23.05    23.69      24.82        24.80   24.38

In [9]:
missing_values = df.isnull().sum()
print(missing_values)

time           0
Ha Noi         0
Vinh           0
Da Nang        0
Nha Trang      0
Ho Chi Minh    0
Ca Mau         0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [15]:
data_types = df.dtypes
print(data_types)

time            object
Ha Noi         float64
Vinh           float64
Da Nang        float64
Nha Trang      float64
Ho Chi Minh    float64
Ca Mau         float64
dtype: object